<launch>

     <include file="$(find kobuki_node)/launch/minimal.launch" />

      <include file="$(find kobuki_keyop)/launch/keyop.launch" />

    <node pkg="hokuyo_node" type="hokuyo_node" name="laser1">
    <param name="frame_id" value="base_link"/>
    <param name="calibrate_time" type="bool" value="true"/>
    <param name="intensity" type="bool" value="false"/>
    <param name="min_ang" value="-2.356194437"/>
    <param name="max_ang" value="2.35619443"/>
    <param name="cluster" value="1"/>
    <remap from="scan" to="base_scan" />

    </node>
  <node pkg="tf" type="static_transform_publisher" name="base_link_to_base_laser_link" args="0.115 0 .14 0 0 0 /base_link /base_laser_link 20" />
  <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0 0 0 0  /base_footprint /base_link 20" />

</launch>

